<div class="card border-primary mb-3">
    <div class="card-header">Sedes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listados de Sedes</h5>
        <div class="my-2 text-left ">
            <div style="float:left;margin-left:5px;">
                <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']">Crear Clientes</button>
            </div>
            <div style="float:left;margin-left:5px;">
                <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/formsede']">Crear Sedes</button>
            </div>
            <div style="float:left;margin-left:5px;">
                <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/formciudad']">Crear Ciudades</button>
            </div>
        </div>

        <div class="alert alert-info" *ngIf="sedes?.length==0">
            No hay registros de sedes en la base de datos
        </div>
        <table class="table table-bordered table-striped text-primary" *ngIf="sedes?.length>0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre Sede</th>
                    <th>Ciudad Sede</th>
                    <th>Nit</th>
                    <th>Direccion</th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sede of sedes">
                    <td>{{sede.idSede}}</td>
                    <td>{{sede.nombreSede}}</td>
                    <td>{{sede.descripcionCiudad}}</td>
                    <td>{{sede.nit}}</td>
                    <td>{{sede.direccion}}</td>


                </tr>
            </tbody>
        </table>

    </div>
</div>